*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primaryColor: #7FB9EF;
    --secondaryColor: #dedede;
}

body{
    letter-spacing: 0.1em;

}

/*HEADER + NAVBAR STYLING*/
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor);
    border-bottom: 1px solid #757575;
}

header>img{
    width: 100px;
}

.navbar{
    position: relative;
    top: 42px;
    right: 15px;
}

.navbar>a{
    padding: 10px;
    text-decoration: none;
    color: #000;
}

/*MAIN SECTION OF THE WEBSITE*/
main{
    background: radial-gradient(62.37% 62.37% at 49.94% 46.76%, #47b0c8 0%, rgba(8, 59, 71, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 50px;
}


.main-pic{
    width: 80%;
}

.main-section{
    padding: 20px 10px;
    text-align: center;
}

.intro, .intro h1, h3{
    padding: 25px;
    margin: 10px;
}

.container{
    margin-bottom: 25px;
}

.container button{
    margin-top: 20px;
    border-radius: 12px;
    padding: 8px;
    border: none;
}

button{
    background-color: #6d6670;
    color: #8added;
}

button:hover{
    background-color: #242121;
    color: #fff;
    box-shadow: 0px 0px 5px #565656;
}