@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primaryColor: #7FB9EF;
    --secondaryColor: #dedede;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
}

/*HEADER + NAVBAR STYLING*/
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor);
    border-bottom: 1px solid #757575;
}

header>img{
    width: 130px;

}

.navbar{
    position: relative;
    top: 42px;
    right: 15px;
}

.navbar>a{
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.navbar>a:hover{
    padding: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

/*MAIN SECTION OF THE WEBSITE*/
main{
    background: radial-gradient(62.37% 62.37% at 49.94% 46.76%, #47b0c8 0%, rgba(8, 59, 71, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
main h1{
    padding: 45px;
}

main h2{
    padding: 45px;
    font-size: 2.5em;
    position: relative;
    top: 15px;
}

.main-home{
    background: radial-gradient(62.37% 62.37% at 49.94% 46.76%, #47b0c8 0%, rgba(8, 59, 71, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 50px;
}
/*HOMEPAGE*/

/*LEFT PART*/

.main-pic{
    width: 100%;
    position: sticky;
    left: -70px;
    top: 0;
}

/*RIGHT PART*/
.main-section{
    padding: 20px 10px;
    text-align: center;
    border-left: 1px solid #4c4c4c;
}

/*INTRO SECTION*/
.heading{
    padding-bottom: 20px;
    margin: 20px;
}


h1{
    padding: 20px 0px 10px 0;
    font-size: 4em;
}

.intro, h3{
    padding: 15px;
    margin: 10px;
}

.small{
    padding: 20px;
}

/*STYLING OF ALL THE SECTIONS*/
.container{
    margin-bottom: 25px;
}

.container button{
    margin-top: 20px;
    border-radius: 12px;
    padding: 8px;
    border: none;
}


button{
    background-color: #6d6670;
    color: #8added;
    border-radius: 10px;
    padding: 20px 40px;
    border: none;
}

button>a{
    background-color: #6d6670;
    color: #8added;
    text-decoration: none;
}

button:hover, button>a:hover{
    background-color: #242121;
    color: #fff;
    box-shadow: 0px 0px 5px #565656;
}

/*TESTIMONIAL STYLE*/

.testimonies img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -16px;
}

/*PROJECT STYLE*/
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #a6cee183;;
    padding: 10px;
    position: relative;
    top: -20px;
    border-radius: 10px;
}

.cards{
    background-color: #ffffff6b;
    padding: 35px;
    border: 1px solid #000;
    border-radius: 10px;
}

.cards a{
    text-decoration: none;
    position: relative;
    top: 10px;
}

footer{
    background-color: var(--primaryColor);
    padding-bottom: 80px;
}

.f-details{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-weight: bold;
    padding: 10px;
}

.socials{
    position: relative;
    top: 30px;
}

.socials img{
    width: 60px;
}

.follow{
    position: relative;
    
}

.para{
    position: relative;
    top: 30px;
}

/*CONTACT PAGE*/

.form{
    padding: 30px;
    margin: 5px 250px;
}

.my-form{
    padding: 120px 40px;
    background-color: #ffffff60;
    border: 1px solid #0000007d;
    border-radius: 25px;
    position: relative;
    bottom: 45px;
}

.my-form>a{
    position: relative;
    top: 70px;
}


label{
    padding: 25px;
}

#firstName, #lastName,#email{
    padding: 20px;
    border-radius: 10px;
    border: 0.5px solid #0000007d;
}

.u-input{
    position: relative;
    right: 285px;
    padding: 15px;
}

.u-inputs{
    position: relative;
    right: 300px;
}

.text{
    padding: 15px;
}

/*TESTIMONIAL PAGE*/

.people{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    margin: 10px 40px;
}

.people img{
    width: 250px;
    border-radius: 50%;
}

.box h2{
    position: relative;
    bottom: 25px;
    padding: 25px;
}

.box{
    margin: 20px;
    padding: 60px;
    border: 1px solid #0000007d;
    border-radius: 15px;
}

.box:hover{
    margin: 25px;
    padding: 70px;
    border: 1px solid #0000007d;
    border-radius: 15px;
    background-color: #ffffff90;
}

/*ABOUT PAGE*/

.about{
    border-radius: 15px;
    margin-top: 45px;
    padding: 15px 90px;
}

.about li{
    list-style: none;
}

.about div{
    border: 1px solid #0000007d;
    border-radius: 20px;
    margin: 15px;
}   

.awards>div{
    border: none;
}

.certificates{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px; 
}

.certificates>.cards{
    padding: 15px;
    border: none;
}

.certificates img{
    width: 285px;
    padding: 5px;
}

.about p{
    padding: 10px 125px;
}

.about ul{
    padding: 20px;
}