@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primaryColor: #7FB9EF;
    --secondaryColor: #dedede;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
}


a:visited{
    color: #000;
}

/*HEADER + NAVBAR STYLING*/
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor);
    border-bottom: 1px solid #757575;
    padding-bottom: 120px;
}

header>img{
    position: absolute;
    transform-style: preserve-3d;
    animation: flip 5s infinite;
    width: 130px;

}


.navbar{
    position: relative;
    top: 58px;
    right: -750px;
}

.navbar>a{
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.navbar>a:hover{
    padding: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

/*MAIN SECTION OF THE WEBSITE*/
main{
    background: radial-gradient(62.37% 62.37% at 49.94% 46.76%, #47b0c8 0%, rgba(8, 59, 71, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
main h1{
    padding: 45px;
    text-shadow: 3px 3px 3px #0000007d;
}

main h2{
    padding: 45px;
    font-size: 2.5em;
    position: relative;
    top: 15px;
    left: 610px;
    text-shadow: 3px 3px 3px #0000007d;
}

/* .main-home{
    background: radial-gradient(62.37% 62.37% at 49.94% 46.76%, #47b0c8 0%, rgba(8, 59, 71, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr); */
    /* grid-column-start: 50px; */
/* } */
/*HOMEPAGE*/

/*LEFT PART*/

.main-pic{
    width: 100%;
    position: sticky;
    left: -70px;
    top: 0;
    grid-column-start: 0;
    grid-column-end: 1;
}

/*RIGHT PART*/
.main-section{
    padding: 20px 10px;
    text-align: center;
    border-left: 1px solid #4c4c4c;
}

.intro{
    margin: 0;
}

/*INTRO SECTION*/
.heading{
    padding-bottom: 20px;
    margin: 20px;
}


h1{
    padding: 20px 0px 10px 0;
    font-size: 4em;
}

.intro, h3{
    padding: 15px;
    margin: 10px;
}

.small{
    padding: 20px;
}

/*STYLING OF ALL THE SECTIONS*/
.container{
    margin-bottom: 25px;
}

.container button{
    margin-top: 20px;
    border-radius: 12px;
    padding: 8px;
    border: none;
}


button{
    background-color: #6d6670;
    color: #8added;
    border-radius: 10px;
    padding: 20px 40px;
    border: none;
}

button>a{
    background-color: #6d6670;
    color: #8added;
    text-decoration: none;
}

button:hover, button>a:hover{
    background-color: #242121;
    color: #fff;
    box-shadow: 0px 0px 5px #565656;
    cursor: pointer;
}

/*TESTIMONIAL STYLE*/

.testimonies img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -16px;
}

/*PROJECT STYLE*/
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #a6cee183;;
    padding: 10px;
    position: relative;
    top: -20px;
    border-radius: 10px;
}

.cards{
    background-color: #ffffff6b;
    padding: 35px;
    border: 1px solid #000;
    border-radius: 10px;
}

.home-proj, .home-proj a{
    text-decoration: none;
    color: #000
}

.home-proj:hover{
    background-color: #ffffff8d;
    
}

.cards a{
    text-decoration: none;
    position: relative;
    top: 10px;
}

footer{
    background-color: var(--primaryColor);
    padding-bottom: 80px;
}

.f-details{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-weight: bold;
    padding: 10px;
}

.socials{
    position: relative;
    top: 30px;
}

.socials img{
    width: 60px;
    position: relative;
    left: 60px;
}

.follow{
    position: relative;
    
}

.para{
    position: relative;
    top: 30px;
}

/*CONTACT PAGE*/

.form{
    padding: 30px;
    margin: 5px 250px;
}

.my-form{
    padding: 30px 40px;
    background-color: #ffffff60;
    border: 1px solid #0000007d;
    border-radius: 25px;
    position: relative;
    bottom: 45px;
    box-shadow: 0px 0px 5px #00000059;
}

.my-form button{
    position: relative;
    left: 350px;
    bottom: 60px;
}

.my-form:hover{
    padding: 30px 40px;
    background-color: #ffffff60;
    border: 1px solid #0000007d;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #000;
}

input:hover{
    box-shadow: 0px 0px 3px #000;
    cursor: pointer;
}

.my-form>a{
    position: relative;
    top: 70px;
}


label{
    padding: 25px;
}

#firstName, #lastName,#email{
    padding: 20px;
    border-radius: 10px;
    border: 0.5px solid #0000007d;
}

.u-input{
    position: relative;
    right: 14px;
    padding: 15px;
}

.u-inputs{
    position: relative;
    right: 13px;
}

.text{
    padding: 15px;
}

/*TESTIMONIAL PAGE*/

.people{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    margin: 10px 40px;
}

.people img{
    width: 250px;
    border-radius: 50%;
    position: relative;
    left: 150px;
}

.box h2{
    position: relative;
    bottom: 25px;
    padding: 25px;
}

.box{
    margin: 20px;
    padding: 60px;
    border: 1px solid #0000007d;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #00000061;
}

.box:hover{
    margin: 20px;
    padding: 60px;
    border: 1px solid #0000007d;
    border-radius: 15px;
    background-color: #ffffff90;
    box-shadow: 0px 0px 20px #000000c6;
}

.box h3{
    text-align: center;
}

.box:hover img{
    box-shadow: 0px 0px 5px #000000c6;
}

/*ABOUT PAGE*/

.test-header{
    padding-bottom: 120px;
}

.logo{
    display: flex;

}

.logo img{
    position: absolute;
    transform-style: preserve-3d;
    animation: flip 5s infinite;
    width: 130px;
}

.navbar-testi{
    position: relative;
    top: 58px;
    left: -42px;
}

.navbar-testi>a{
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.navbar-testi>a:hover{
    padding: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.about{
    border-radius: 15px;
    margin-top: 45px;
    padding: 15px 90px;
}

.about li{
    list-style: none;
}

.about div{
    box-shadow: 0px 0px 5px #000000c6;
    border: 1px solid #0000007d;
    border-radius: 20px;
    margin: 15px 50px;
    padding: 25px;
}

.about div:hover{
    box-shadow: 0px 0px 15px #000000c6;
    border: 1px solid #0000007d;
    border-radius: 20px;
    margin: 15px 50px;
    padding: 25px;
    background-color: #0000007c;
    color: #fff;
    text-shadow: 1px 1px 3px #ffffff88;
}   

.awards>div{
    border: none;
}


.cards{
    padding: 15px;
    margin: 5px 210px;
    border: none;
}

.cards img{
    width: 400px;
    padding: 5px;
}

.cards:hover img{
    width: 550px;
}

.about p{
    padding: 10px 125px;
}

.about ul{
    padding: 20px;
}

.bio{
    position: relative;
    bottom: 60px;
}

.personal-details a, .personal-details b{
    text-decoration: none;
    color: #000;
}

.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.g-skills{
   position: relative;
   bottom: 10px;
}

.COM-logo{
    background-color: #e8e8e8;
    border-radius: 5%;
}

.COM{
    position: relative;
    bottom: 15px;
}

/*PROJECTS PAGE*/

.project-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px ;
    margin: 25px;
}

.proj-box{
    border: 1px solid #0000007d;
    margin: 10px 85px;
    padding: 35px 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #0000006a;
}

.proj-box:hover{
    border: 1px solid #0000007d;
    margin: 10px 85px;
    padding: 35px 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000000af;
    background-color: #ffffff7d;
}

.proj-box img{
    position: relative;
    left: 150px;
}

.proj-box:hover button{
    box-shadow: 0px 0px 8px #000000;
}

.proj-btn{
    position: relative;
    left: 50px;
}

.proj-btn button{
    border-radius: 15px;
}

.proj-btn2{
    position: relative;
    right: 70px;
}

.proj-btn1{
    position: relative;
    left: 70px;
}

/*SKILLS PAGE*/

.skill-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 10px;
    text-shadow: 1px 1px 1px #ffffff7d;
}

.skill-main h2{
    text-shadow: 3px 3px 4px #3b3b3b7d;
}

.skill-box{
    border: 1px solid #0000007d;
    margin: 5px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #00000047;
    text-align: center;
}

.skill-box:hover{
    border: 1px solid #0000007d;
    margin: 5px;
    padding: 40px;
    border-radius: 15px;
    background-color: #ffffff8e;
    box-shadow: 0px 0px 10px #000000ba;
    text-shadow: 1px 1px 1px #00000061;
}

.skill-box img{
    position: relative;
    left: 5px;
}

.bootstrap{
    position: relative;
    top: 20px;
}






/*KEYFRAMES*/
@keyframes flip{
    0%{
        transform: rotateY(0deg);
    }
    75%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}


/*MEDIA QUERIES*/

/* Desktop */
@media screen and (min-width: 700px) and (max-width: 1200px) {
    .navbar{
        position: relative;
        top: 120px;
        left: 5%;
        font-size: 0.85rem;
        font-size: 14px;
    }
}


/*TABLET*/
@media screen and (min-width: 300px) and (max-width: 700px) {
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-size: 12px;
    }

    header>img{
        display: flex;
        flex-direction: column;
        width: 95px;
    }
    
    .navbar{
        position: relative;
        font-size: 9px;
        top: 125px;
        left: 95px;
        padding: 5px;
    }

    .navbar>a{
        display: block;
        padding: 10px;
    }

    .screen-main{
        display: inline-block;
        justify-content: center;
    }

    .about{
        padding: 0px;
    }

    .skills{
        display: inline-block;
    }

    .education:hover{
        margin: 0;
        padding: 0;
    }

    .education h1 h3{
        font-size: 1.5rem;
    }

    .edu-box img{
        width: 50px;
        padding: 5px;
    }

    .about div>.edu-box:hover{
        margin: 0;
        padding: 0;
    }

    .awards img, .cards:hover>img{
        width: 180px;
    }

    .awards img:hover{
        width: 300px;
    }
}


@media screen and (max-width: 590px) {
    body{
        font-size: 12px;
    }

    .navbar{
        width: 300px;
    }

    .navbar a{
        position: relative;
        right: 95px;
    }

    .navbar a:hover{
        background-color: #ffffff59;
        padding: 5px;
    }

    .main-pic{
        position: absolute;
        display: none;
        
    }

    main>h1, .heading{
        text-align: center;
        font-size: 13px;
        position: relative;
        left: 15px;
    }

    .heading{
        position: relative;
        left: -35px;
    }

    .col-7{
        width: 50.33333333%;
        border: none;
    }

    .col-7 h1{
        position: relative;
        right: 10px;
    }


    .projects{
        display: inline-block;
    }

    .intro, .container{
        position: relative;
        left: -90px;
    }

    small{
        position: relative;
        right: -30px;
    }

    .main-home{
        border: none;
        position: relative;
    }

    

    /*about*/

    .about, .about p{
        padding: 0px;
    }

    .about div{
        margin: 15px 40px;
        padding: 17px 19px;
    }

    .about .edu-box {
        margin: 15px 0px;
        padding: 17px 19px;
    }

    .personal-details p{
        font-size: 10px;
        position: relative;
        right: 8px;
    }

    .skills{
        display: inline-block;
    }
    .education:hover{
        margin: 0;
        padding: 0;
    }

    .education{
        padding: 5px;
    }

    .education h1 h3{
        font-size: 1.5rem;
    }

    .edu-box img{
        width: 50px;
    }

    .edu-box h3{
        font-size: 1rem;
    }

    .thera{
        position: relative;
        right: 6px;
    }

    .about div>.edu-box:hover{
        margin: 0;
        padding: 0;
    }

    .awards img{
        width: 70px;
    }

/* skills */
    .skill-grid{
        display: inline-block;
    }

/* project */

    .project-body{
        display: inline-block;
        position: relative;
        left: 15px;
    }

    .proj-btn1{
        position: relative;
        left: -90px;
        padding: 10px;
    }

    .proj-box img {
        position: relative;
        left: 70px;
    }

    .proj-btn{
        position: relative;
        left: 32px;
    }

    .proj-btn2{
        position: relative;
        padding: 10px;
        right: 90px;
    }

    footer .socials{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 15px;
    }

    footer a{
        position: relative;
        right: 59px;
    }

}